<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <app-botton-cruz routerLink="/../menu"></app-botton-cruz>

<div class="br"></div>
   <br>
   <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <ion-icon src="../../../assets/icon/logo.svg" class="logo"></ion-icon>
                    <div class="row-left textT">¿Cómo funciona? </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
                <div class="row-left widthMenu" >
                    <div class="marginLeft12">
                        <br> 
                        <p>El objetivo de esta app es ayudarte a alcanzar la cantidad diaria de micronutrientes recomendada </p>
                        <p>¡<b>MicroCare</b> es una app muy facil de usar! <p>
                        <ol>
                            <li>Añade tus ingestas </li>
                            <li>Mira tu progreso </li>
                            <li>Prueba las recetas que te recomendamos </li>
                        </ol>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">1. Añade tus ingestas </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32">  
                       <br>
                       <p>Pulsa el <b>botón central</b> para añadir un consumo, podrás introducir tus ingestas de forma manual o seleccionar una receta<p>
                       <ion-icon style="width: 300px; height: 100px;" src="../../../assets/icon/app/navbar.svg"></ion-icon>
 <!--                    </div> -->            
                </div>           
            </div>
        </div>
    </div>
    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">2. La app se pone a trabajar </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32"> 
                       <br> 
                        <p>La app calculará los micronutrientes de tus consumos y los añadirá a tu progreso diario, 
                            podrás ver tu progreso de cada micronutriente y de cada grupo.<p>
                            <div class="col-center">
                                <ion-icon style="width: 300px; height: 400px;" src="../../../assets/icon/app/progreso.svg"></ion-icon>

                                
                         

                             </div>
 <!--                    </div> -->            
                </div>           
            </div>
        </div>
    </div>

    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">3. Explora la app </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32"> 
                      <div class="br"></div>
                        <p>Descubre todo lo que puedes hacer en <b>MicroCare</b>: <br><br>Planifica tu día, guarda tus ingestas habituales en favoritos, busca las recetas que te recomendamos según tus micronutrientes consumidos.<p>
                            <div class="col-center">
                                <ion-icon class="margen" style="width: 300px; height: 400px;" src="../../../assets/icon/app/receta.svg"></ion-icon>
                             </div>
 <!--                    </div> -->            
                </div>           
            </div>
           
        </div>
    </div>

    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="row-center">
                    <br>
                    <br>
                    <br>
                    <div class="row-left textBlueSemi22"> ¿Quieres saber quiénes somos?</div> <ion-icon src="../../../assets/icon/apuntando-hacia-abajo.svg" class="mano"></ion-icon>   
                </div>
            </div>                      
        </div>
    </div>
            <div class="row-center">
                <div routerLink="/about" class="col-center button-blue text">Click aquí</div>
            </div>

        <div class="footer"></div>
        <div class="footer"></div>

</ion-content>
